h1 {
  font-size: 1.5em;
  margin: 0.15rem;
  color: white;
}

h2 {
  border-bottom: 1px solid black;
  font: size 1.5rem;
  margin-bottom: 0.5rem;
}

body {
  line-height: 1.5;
  font-family: "Arial", serif, sans-serif;
  height: 100%;
  margin: auto;
}

#photo {
  width: 200px;
  height: auto;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

footer {
  text-align: center;
  color: white;
}

header,
footer {
  width: 55%;
  background-color: darkred;
  padding: 5px;
  /*border-radius: 5px;*/
  margin: auto;
}
#date {
  color: yellow;
}
main {
  margin: auto;
  width: 55%;
}
