/* phone or baseline views */
header {
  background-color: #fff;
  padding: 5px 0;
  /*display: flex;*/
  align-items: center;
  justify-content: space-between;
  /*max-width: 900px;*/
  margin: 0 auto;
  /*border-bottom: 1px solid #bbb;*/
}

.logo {
  display: flex;
  align-items: center;
  margin-left: 1rem;
}

.logo img {
  width: 80px;
  height: auto;
}

.headings {
  display: flex;
  flex-direction: column;
  margin-left: 0.5rem;
}

.headings h1 {
  font-size: 1.5rem;
}

.m {
  letter-spacing: 1pt;
  color: #fff;
  font-weight: 700;
  font-size: 0.8rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}
footer {
  background-color: gray;
  text-align: center;
}
#lastModified {
  color: white;
}
header,
footer {
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

header,
main,
footer {
  margin: 0 auto;
}
h1 {
  font-size: 2vw;
  text-align: center;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: #fff;
  font-size: 16px;
}
/*navBar*/
.container {
  display: grid;
  grid-template-columns: 1fr 1fr 80px;
  background-color: #396e92;
  align-items: center;
}
header {
  background-color: #396e92;
}

img {
  padding-left: 5px;
}

nav button {
  margin: 0.2rem 2vw;
  background: transparent;
  border: none;
  font-size: 2rem;
  color: yellow;
}

nav {
  position: absolute;
  right: 0;
  top: 10px;
  background-color: #396e92;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul li a {
  display: block;
  padding: 0.8rem 2vw;
  text-decoration: none;
  color: yellow;
  border-top: 1px solid rgba(0, 0, 0, 0.5);
}

nav ul li.active a {
  background-color: rgba(0, 0, 0, 0.2);
  color: #fff;
}

nav ul li a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

nav ul {
  display: none;
}

nav ul.open {
  display: block;
}

#hamburgerBtn span:nth-child(1) {
  display: block;
}

#hamburgerBtn span:nth-child(2) {
  display: none;
}

#hamburgerBtn.open span:nth-child(1) {
  display: none;
}
#hamburgerBtn.open span:nth-child(2) {
  display: block;
}

aside {
  /* margin: 0.5rem;*/
  border-top: 1px solid white;
  padding: 0.75rem;
  background-color: #396e92;
  text-align: center;
}

nav footer {
  background-color: #333;
  border-top: 2px black solid;
}

.socialmedia img {
  width: 40px;
}

/*main body*/
main {
  display: grid;
  gap: 4px;
  /* grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-column-gap: 2px;
  grid-row-gap: 2px;*/
}
main div {
  height: 100px;
}

.spot3,
.join {
  display: none;
}

.hero,
.event,
.weather,
.join,
.news,
.spot1,
.spot2,
.spot3 {
  border: 1px black solid;
  text-align: center;
  background-color: lightgray;
  /*height: auto;*/
}
