/* phone or baseline views */
header {
  background-color: #fff;
  padding: 5px 0;
  /*display: flex;*/
  align-items: center;
  justify-content: space-between;
  /*max-width: 900px;*/
  margin: 0 auto;
  /*border-bottom: 1px solid #bbb;*/
}

.logo {
  display: flex;
  align-items: center;
  margin-left: 1rem;
}

.logo img {
  width: 80px;
  height: auto;
}

.headings {
  display: flex;
  flex-direction: column;
  margin-left: 0.5rem;
}

.headings h1 {
  font-size: 1.5rem;
}

.m {
  letter-spacing: 1pt;
  color: #fff;
  font-weight: 700;
  font-size: 0.8rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}
footer {
  background-color: #396e92;
  text-align: center;
}
.footerheader {
  color: #000;
}
#lastModified {
  color: white;
}
header,
footer {
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

header,
main,
footer {
  margin: 0 auto;
}
h1 {
  font-size: 2vw;
  text-align: center;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #fff;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
}

p {
  color: white;
  font-size: 16px;
  font-family: "Luxurious Roman", cursive;
}
#copyright {
  padding: 0.75rem;
}

#hero-img {
  width: 100%;
  height: 100%;
  padding: 2px;
}

/*navBar*/
.container {
  display: grid;
  grid-template-columns: 1fr 1fr 80px;
  background-color: #396e92;
  align-items: center;
}
header {
  background-color: #396e92;
}
footer {
  border-top: 2px solid black;
}
img {
  padding-left: 5px;
}
nav button {
  margin: 0.2rem 2vw;
  background: transparent;
  border: none;
  font-size: 2rem;
  color: yellow;
}

nav {
  position: absolute;
  right: 0;
  top: 45px;
  background-color: #396e92;
  z-index: 2;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul li a {
  display: block;
  padding: 0.8rem 2vw;
  text-decoration: none;
  color: yellow;
  border-top: 1px solid rgba(0, 0, 0, 0.5);
}

nav ul li.active a {
  background-color: rgba(0, 0, 0, 0.2);
  color: #fff;
}

nav ul li a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

nav ul {
  display: none;
}

nav ul.open {
  display: block;
}

#hamburgerBtn span:nth-child(1) {
  display: block;
}

#hamburgerBtn span:nth-child(2) {
  display: none;
}

#hamburgerBtn.open span:nth-child(1) {
  display: none;
}
#hamburgerBtn.open span:nth-child(2) {
  display: block;
}

aside {
  border-top: 1px solid white;
  padding: 0.75rem;
  background-color: #396e92;
  text-align: center;
  color: white;
  border-bottom: 2px solid black;
}

nav footer {
  background-color: #333;
  border-top: 2px black solid;
}

.socialmedia img {
  width: 40px;
}

/*main body*/
.mainpage {
  display: grid;
  gap: 4px;
}

.spot3,
.join {
  display: none;
}

.hero,
.event,
.weather,
.join,
.news,
.spot1,
.spot2,
.spot3 {
  border: 2px solid black;
  text-align: center;
  background-color: lightgray;
}
.text {
  color: rgb(164, 51, 18);
  padding: 2px;
}

.join {
  padding-top: 10px;
}

.joinus {
  padding: 5px;
  justify-content: center;
  list-style: none;
  margin: 5px;
  background-color: #396e92;
  border-radius: 5px;
  color: white;
  width: 90%;
  height: 50px;
  font-size: 20px;

  opacity: 90%;
  text-decoration: none;
}

.hero {
  position: relative;
}
main picture.hero {
  width: 100%;
}

.actionbtn {
  padding-top: 10px;
  list-style: none;
  text-decoration: none;
  position: absolute;
  bottom: 30px;
  left: 200px;
  background-color: #396e92;
  border-radius: 10px;
  color: #fff;
  width: 150px;
  height: 50px;
  font-size: 20px;
  opacity: 90%;
}
.banner p {
  background-color: lightgray;
  color: firebrick;
  text-align: center;
  border-bottom: 2px solid black;
  padding-bottom: 5px;
}
#rhino,
#tree,
#move {
  width: 300px;
}
#banner {
  display: none;
  background-color: gray;
  color: red;
  padding: 5px;
  text-align: center;
  border-bottom: 2px solid #333;
  font-family: "Montserrat", serif;
}
/* discover page*/
.discover {
  display: unset;
}
/*container 1*/
.container1 {
  position: relative;
  display: block;
  width: 320px;
  background: #000;
  background: url(../images/babyrhino.jpg);
  background-size: cover;
  margin: 120px auto;
  transition: all 0.3s ease-in-out;
}
.container1:hover .hoverdiv {
  opacity: 1;
}
/*container 2*/
.container2 {
  position: relative;
  display: block;
  width: 320px;

  background: #000;
  background: url(../images/ice-cream.jpg);
  background-size: cover;
  margin: 120px auto;
  transition: all 0.3s ease-in-out;
}
.container2:hover .hoverdiv {
  opacity: 1;
}
/*container 3*/
.container3 {
  position: relative;
  display: block;
  width: 320px;

  background: #000;
  background: url(../images/george-washington.jpg);
  background-size: cover;
  margin: 120px auto;
  transition: all 0.3s ease-in-out;
}
.container3:hover .hoverdiv {
  opacity: 1;
}
/*container 4*/
.container4 {
  position: relative;
  display: block;
  width: 320px;

  background: #000;
  background: url(../images/putnam-hill-park.jpg);
  background-size: cover;
  margin: 120px auto;
  transition: all 0.3s ease-in-out;
}
.container4:hover .hoverdiv {
  opacity: 1;
}
/*container 5*/
.container5 {
  position: relative;
  display: block;
  width: 320px;

  background: #000;
  background: url(../images/lorea.jpg);
  background-size: cover;
  margin: 120px auto;
  transition: all 0.3s ease-in-out;
}
.container5:hover .hoverdiv {
  opacity: 1;
}
/*container 6*/
.container6 {
  position: relative;
  display: block;
  width: 320px;

  background: #000;
  background: url(../images/kidzville.jpg);
  background-size: cover;
  margin: 120px auto;
  transition: all 0.3s ease-in-out;
}
.container6:hover .hoverdiv {
  opacity: 1;
}
/*container 7*/
.container7 {
  position: relative;
  display: block;
  width: 320px;
  /*height: 320px;*/
  background: #000;
  background: url(../images/ohio-dillon-state-park.jpg);
  background-size: cover;
  margin: 120px auto;
  transition: all 0.3s ease-in-out;
}
.container7:hover .hoverdiv {
  opacity: 1;
}
/*container 8*/
.container8 {
  position: relative;
  display: block;
  width: 320px;

  background: #000;
  background: url(../images/zsc.jpg);
  background-size: cover;
  margin: 120px auto;
  transition: all 0.3s ease-in-out;
}
.container8:hover .hoverdiv {
  opacity: 1;
}
/*container 9*/
.container9 {
  position: relative;
  display: block;
  width: 320px;
  /*height: 320px;*/
  background: #000;
  background: url(../images/ouz.jpg);
  background-size: cover;
  margin: 120px auto;
  transition: all 0.3s ease-in-out;
}
.container9:hover .hoverdiv {
  opacity: 1;
}

.hoverdiv {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  padding: 24px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  box-sizing: border-box;
}

.zinfo {
  color: #000;
  text-align: center;
}
/* join page*/
.joinpage {
  margin: 10px;
}
/*Form*/
form fieldset {
  margin: 2rem 0;
  border: 1px solid #396e92;
  border-radius: 10px;
  padding: 0.5rem;
}

form legend {
  color: #396e92;
  margin: 0 1rem;
  padding: 0 0.5rem;
}

form label.top,
form div {
  display: block;
  padding-top: 1rem;
  color: red;
  font-size: 0.8rem;
}

form label.top input,
form textarea.top {
  display: block;
  font-size: 1rem;
  border: solid 1px #555;
  border-radius: 4px;
  padding: 0.75rem;
  color: #333;
  width: 100%;
  /*max-width: 20rem;*/
  background-color: rgba(0, 0, 0, 0.1);
}

form label.sbs {
  display: block;
  padding: 0.75rem 0%;
  color: #333;
}

form input.submitBtn {
  border: none;
  background-color: #396e92;
  color: #fff;
  border-radius: 1rem;
  padding: 0.75rem 1.5rem;
  width: 100%;
  /*margin-left: 10%;*/
}

form label.top input:required {
  border-left: #999 solid 6px;
}
form label.top input:required:valid {
  border-left: green solid 6px;
}
/*membership*/
.membership {
  display: block;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}
.membership1,
.membership2,
.membership3,
.membership4 {
  justify-self: center;
  font-family: sans-serif;
  text-align: center;
  max-width: 100%;
  margin: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 1.5);
  padding: 5px;
  border-radius: 5px;
}
.price1,
.price4 {
  font-size: 6.5rem;
  color: rgb(164, 51, 18);
}
.price2,
.price3 {
  color: white;
  font-size: 6.5rem;
}
.title1,
.title4 {
  font-size: 2rem;
  color: rgb(164, 51, 18);
}

.title2,
.title3 {
  font-size: 2rem;
  color: white;
}
.detail1,
.detail4 {
  color: rgb(164, 51, 18);
}
.detail2,
.detail3 {
  color: white;
}

.membership1 {
  background-color: aquamarine;
}
.membership2 {
  background-color: #cd7f32;
}
.membership3 {
  background-color: #838997;
}
.membership4 {
  background-color: #d6bd69;
}
/* thankyou */
.checkmark {
  justify-self: center;
}
.thanks {
  color: #000;
  font-size: 75px;
}
.thank {
  margin: 20px;
  color: #000;
  text-align: center;
  font-size: 30px;
}
/*Directory pad*/
.directory p,
.title-dir {
  color: #000;
}
img {
  justify-content: center;
}

.main-dir {
  display: flex;
  height: fit-content;
  margin: 1rem;
  border: 1px solid #333;
}
#cards {
  display: grid;
  grid-template-columns: 60%;
  grid-gap: 5px;
  margin: 0 auto;
}
#cards .item {
  display: flex;
  padding: 10px;
  border: 1px solid white;
  justify-content: space-around;
}
#cards .item:nth-child(odd) {
  background: white;
}

#cards.grid {
  grid-template-columns: repeat(3, 1fr);
}
#cards.grid .item:nth-child(odd) {
  background: none;
}
/*list to grid button*/
.li-list,
.li-grid {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
  justify-content: center;
  display: block;
}

.links {
  margin-bottom: 20px;
  background: #396e92;
}

.links ul {
  display: flex;
  justify-content: center;
}

.links ul li {
  margin: 0 10px;
  cursor: pointer;
}

.links ul li:hover,
.links ul li:active {
  color: white;
}

.view_item img {
  width: 75px;
}

.view_main {
  margin: 5px;
  padding: 10px;
}

.list-view,
.view_item {
  border: 1px solid #333;
  margin: 10px;
  padding: 10px 20px;
  display: flex;
  align-items: center;
}

.list-view .view_item:last-child {
  margin-bottom: 0;
}

.list-view .view_item .vi_left {
  margin-right: 25px;
}
.view_item .title-wilds,
.view_item .title-toms,
.view_item .title-alens,
.view_item .title-park1,
.view_item .title-boat,
.view_item .title-kidzville,
.view_item .title-dillon,
.view_item .title-ouz,
.view_item .title-zanes,
.view_item .title-coco,
.view_item .title-cafe,
.view_item .title-chinese {
  font-weight: 600;
  border-bottom: 1px solid black;
}

.view_item .content {
  margin: 5px 0;
  font-size: 14px;
  line-height: 22px;
  font-weight: 200;
}
.directory .grid-view section {
  margin: 0;
  justify-items: center;
  text-align: center;
  margin: 5px;
  padding: 4px;
  border-radius: 1rem;
  border: 1px solid black;
}
.list-view section {
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid black;
}
.contactinfo {
}
