/* phone or baseline views */
header {
  background-color: #fff;
  padding: 5px 0;
  /*display: flex;*/
  align-items: center;
  justify-content: space-between;
  /*max-width: 900px;*/
  margin: 0 auto;
  /*border-bottom: 1px solid #bbb;*/
}

.logo {
  display: flex;
  align-items: center;
  margin-left: 1rem;
}

.logo img {
  width: 80px;
  height: auto;
}

.headings {
  display: flex;
  flex-direction: column;
  margin-left: 0.5rem;
}

.headings h1 {
  font-size: 1.5rem;
}

.m {
  letter-spacing: 1pt;
  color: #fff;
  font-weight: 700;
  font-size: 0.8rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}
footer {
  background-color: gray;
  text-align: center;
}
#lastModified {
  color: white;
}
header,
footer {
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

header,
main,
footer {
  margin: 0 auto;
}
h1 {
  font-size: 2vw;
  text-align: center;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #fff;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
}

p {
  color: #fff;
  font-size: 16px;
  font-family: "Luxurious Roman", cursive;
}
#copyright {
  padding: 0.75rem;
}

#hero-img {
  width: 100%;
  height: 100%;
  padding: 2px;
}

/*navBar*/
.container {
  display: grid;
  grid-template-columns: 1fr 1fr 80px;
  background-color: #396e92;
  align-items: center;
}
header {
  background-color: #396e92;
}
footer {
  border-top: 2px solid black;
}
img {
  padding-left: 5px;
}
nav button {
  margin: 0.2rem 2vw;
  background: transparent;
  border: none;
  font-size: 2rem;
  color: yellow;
}

nav {
  position: absolute;
  right: 0;
  top: 45px;
  background-color: #396e92;
  z-index: 2;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul li a {
  display: block;
  padding: 0.8rem 2vw;
  text-decoration: none;
  color: yellow;
  border-top: 1px solid rgba(0, 0, 0, 0.5);
}

nav ul li.active a {
  background-color: rgba(0, 0, 0, 0.2);
  color: #fff;
}

nav ul li a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

nav ul {
  display: none;
}

nav ul.open {
  display: block;
}

#hamburgerBtn span:nth-child(1) {
  display: block;
}

#hamburgerBtn span:nth-child(2) {
  display: none;
}

#hamburgerBtn.open span:nth-child(1) {
  display: none;
}
#hamburgerBtn.open span:nth-child(2) {
  display: block;
}

aside {
  /* margin: 0.5rem;*/
  border-top: 1px solid white;
  padding: 0.75rem;
  background-color: #396e92;
  text-align: center;
  color: white;
  border-bottom: 2px solid black;
}

nav footer {
  background-color: #333;
  border-top: 2px black solid;
}

.socialmedia img {
  width: 40px;
}

/*main body*/
main {
  display: grid;
  gap: 4px;
  /* grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-column-gap: 2px;
  grid-row-gap: 2px;*/
}

.spot3,
.join {
  display: none;
}

.hero,
.event,
.weather,
.join,
.news,
.spot1,
.spot2,
.spot3 {
  border: 2px solid #333;
  text-align: center;
  background-color: lightgray;
}
.text {
  color: rgb(164, 51, 18);
  padding: 2px;
}

.joinus {
  margin: 5px;
  background-color: #396e92;
  border-radius: 10px;
  color: wheat;
  width: 90%;
  height: 50px;
  font-size: 20px;
  opacity: 90%;
}

.hero {
  position: relative;
}
main picture.hero {
  width: 100%;
}

.actionbtn {
  position: absolute;
  bottom: 30px;
  left: 200px;
  background-color: #396e92;
  border-radius: 10px;
  color: #fff;
  width: 150px;
  height: 50px;
  font-size: 20px;
  opacity: 90%;
}
.banner p {
  background-color: lightgray;
  color: firebrick;
  text-align: center;
  border-bottom: 2px solid black;
  padding-bottom: 5px;
}
#rhino,
#tree,
#move {
  width: 300px;
}
#banner {
  display: none;
  background-color: gray;
  color: red;
  padding: 5px;
  text-align: center;
  border-bottom: 2px solid #333;
  font-family: "Montserrat", serif;
}
/* discover page*/
.discover {
  display: unset;
}

/* Card 1*/

.card1 {
  background-image: url("../images/rhino2.jpg");
}

/* Card 2*/
.card2 {
  background-image: url("../images/ice-cream.jpg");
}
/* Card 3*/
.card3 {
  background-image: url("../images/george-washington.jpg");
}
/* Card 4*/
.card4 {
  background-image: url("../images/putnam-hill-park.jpg");
}
/* Card 5*/
.card5 {
  background-image: url("../images/lorea.jpg");
}
/* Card 6*/
.card6 {
  background-image: url("../images/kidzville.jpg");
}
/* Card 7*/
.card7 {
  background-image: url("../images/ohio-dillon-state-park.jpg");
}
/* Card 8*/
.card8 {
  background-image: url("../images/zsc.jpg");
}
/* Card 9*/
.card9 {
  background-image: url("../images/ouz.jpg");
}

.card:hover {
  transform: scale(1.05);
}

.card-content {
  padding: 1.5rem;
}

.card-title {
  position: relative;
  max-width: fit-content;
  padding-bottom: 4px;
  color: white;
}

.card-title::after {
  content: "";
  position: absolute;
  height: 4px;
  left: 0;
  bottom: 0;
  width: 100%;
  background: #396e92;
  transform-origin: left;
  transition: transform 500ms ease;
}

.card:hover .card-title::after {
  transform: scaleX(1);
}

.card-body {
  color: rgb(255, 255, 255 / 0.85);
}

@media (hover) {
  .card-content {
    transform: translateY(75%);
    transition: transform 500ms ease;
  }
  .card:hover .card-content {
    transform: translateY(0%);
    transition-delay: 500ms;
  }

  .card-content > *:not(.card-title) {
    opacity: 0;
    transition: opacity 500ms linear;
  }

  .card:hover .card-content > *:not(.card-title) {
    opacity: 1;
    transition-delay: 1000ms;
  }
  .card-title::after {
    transform: scaleX(0);
  }
}
.card {
  border-radius: 0.5rem;
  background-size: cover;
  padding: 10rem 0 0;
  max-width: 35ch;
  margin: 5px;
  overflow: hidden;
  transform: transform 500ms ease;
}
.button {
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  color: wheat;
  background-color: #396e92;
  padding: 0.5em 1em;
  border-radius: 0.25em;
}
.button:hover,
.button:focus {
  background-color: #333;
}

@media (prefers-redused-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
    transition-delay: 0ms !important;
  }
}
