/* Desktop Views */
@media only screen and (min-width: 60em) {
  /*navbar*/

  .social {
    order: 3;
    margin-left: 20px;
  }
  nav button {
    display: none;
  }
  .container {
    display: flex;
  }
  nav {
    position: unset;
  }
  nav ul#primaryNav {
    display: flex;
    margin-left: 2vw;
    border-left: 1px solid rgba(0, 0, 0, 0.3);
  }

  nav ul li a {
    padding: 0.5rem 1rem;
  }
  /*main body*/

  main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 2px;
    grid-row-gap: 2px;
  }
  main div {
    height: unset;
  }
  .event {
    grid-area: 1 / 1 / 3 / 2;
    background-color: lightgray;
  }
  .weather {
    grid-area: 3 / 1 / 5 / 2;
    background-color: lightgray;
  }
  .join {
    grid-area: 5 / 1 / 7 / 2;
    background-color: lightgray;
  }
  .hero {
    grid-area: 1 / 2 / 5 / 4;
    background-color: lightgray;
  }
  .news {
    grid-area: 5 / 2 / 7 / 4;
    background-color: lightgray;
  }
  .spot1 {
    grid-area: 1 / 4 / 3 / 5;
    background-color: lightgray;
  }
  .spot2 {
    grid-area: 3 / 4 / 5 / 5;
    background-color: lightgray;
  }
  .spot3 {
    grid-area: 5 / 4 / 7 / 5;
    background-color: lightgray;
  }
  h1 {
    font-size: 25px;
    text-align: center;
  }
  .spot3 {
    display: block;
  }
  .actionbtn {
    position: absolute;
    bottom: 30px;
  }
  #rhino {
    width: 75px;
    justify-content: center;
  }
  #tree {
    width: 65px;
  }
  #move {
    width: 100px;
  }
  /* discover page*/
  .card {
    overflow: unset;
  }
  .discover {
    grid-template-rows: 1fr 1fr 1fr;
  }
  .join {
    grid-template-rows: 1fr 1fr;
  }
}
