/* Tablet Views */
@media only screen and (min-width: 35.5em) {
  nav h1 {
    display: block;
    font-size: 1.5rem;
    text-align: center;
  }
  /* Horizontal Menu Examples */
  /* Flex *********************/
  nav button {
    display: none;
  }

  nav ul#primaryNav {
    display: flex;
    margin-left: 2vw;
    justify-content: flex-end;
  }
  nav ul li {
    border: none;
    border-right: 1px solid 0, 0, 0, 0.3;
  }

  nav a {
    font-size: 1rem;
  }
}
