* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary: #4e0000;
  --secondary: #ebe7db;
  --third: #352d2b;
  --fourth: #6d0100;
  --fifth: #d5b38d;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Vazirmatn", sans-serif;
  color: var(--primary);
}
p {
  color: var(--secondary);
}
header {
  align-items: center;
  width: 100vw;
  height: 100px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border-bottom: 3px solid black;
  background-color: var(--primary);
}

body {
  background-color: var(--secondary);
}
footer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: var(--primary);
}
main {
  background-color: var(--secondary);
}
.modified {
  padding: 3px;
  background-color: var(--primary);
  color: var(--secondary);
  border-top: 1px solid white;
  border-bottom: 3px solid black;
}
.address a {
  color: var(--secondary);
}

footer {
  text-align: center;
}

nav {
  background-color: var(--primary);
  z-index: 2;
}
nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav button {
  margin: 0.2rem 2vw;
  background: transparent;
  border: none;
  font-size: 2rem;
  color: var(--secondary);
}
nav ul li a {
  text-align: center;
  display: block;
  padding: 0.8rem 2vw;
  text-decoration: none;
  color: var(--secondary);
  border-top: 1px solid rgba(0, 0, 0, 0.5);
}

nav ul li.active a {
  background-color: rgba(0, 0, 0, 0.2);
}
nav ul li a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

nav ul {
  display: none;
}
nav ul.open {
  display: block;
}

#hamburgerBtn span:nth-child(1) {
  display: block;
}
#hamburgerBtn span:nth-child(2) {
  display: none;
}
#hamburgerBtn.open span:nth-child(1) {
  display: none;
}
#hamburgerBtn.open span:nth-child(2) {
  display: block;
}

.media {
  display: none;
}

.logo {
  display: flex;
  align-items: center;
  margin-left: 1rem;
}

.logo img {
  width: 80px;
  height: auto;
}

.modal-containe {
  position: fixed;
  padding: 10px;
  top: 100px;
  left: 0;
  opacity: 0;

  max-width: 100vw;
  transition: opacity 0.3s ease;
}
.modal {
  background-color: var(--secondary);
  padding: 20px 30px;
  border-radius: 10px;
  border: 1px solid var(--third);
}

.weatherbtn {
  background-color: var(--primary);
  color: var(--secondary);
  border-radius: 10px;
  padding: 5px 15px;
}
.modal-containe.show {
  opacity: 1;
}

.weather {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.forecastcs {
  color: var(--primary);
  display: flex;
}

#heroimg {
  padding: 5px;
  border-radius: 10px;
  width: 100%;
}

.reservationimg,
.templeimg {
  width: 100%;
  padding: 5px;
  border-radius: 10px;
}
.reservationbtn {
  justify-content: center;
  margin-left: 15px;
  color: var(--secondary);
  background-color: var(--primary);
  padding: 5px 15px;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}
.servicesheader,
.templeheader {
  text-align: center;
}
.hotel {
  font-size: 1rem;
  font: 1em sans-serif;
}
.hotel,
.temple-p,
.about,
.job-title {
  color: var(--primary);
  padding: 5px;
}

.weatherinfo {
  color: var(--primary);
}

#checkmark {
  justify-self: center;
}
.thanks {
  text-align: center;
  color: var(--fourth);
  font-size: 75px;
}
.thank {
  color: var(--fourth);
  text-align: center;
  font-size: 30px;
}

.media2 img {
  width: 80px;
}
.contactbody {
  padding: 5px;
}

.footerinfo {
  color: var(--secondary);
}
.quickmenu {
  display: none;
  margin: 10px;
}
ul li a {
  align-items: center;
  text-decoration: none;
  color: var(--secondary);
}
ul {
  list-style: none;
}
.email {
  display: none;
  padding: 10px;
}

.cards {
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 2px;
  grid-row-gap: 2px;
  background-color: #396e92;
  color: #fff;
  justify-items: center;
}

.reservation {
  display: grid;
}
form fieldset {
  margin: 2rem 0;
  border: 1px solid var(--primary);
  border-radius: 10px;
  padding: 0rem 2%;
}
form legend {
  color: var(--primary);
  margin: 0 1rem;
  padding: 0 0.5rem;
}

form label.top,
form div {
  display: block;
  padding-top: 1rem;
}

form label.top input,
form label.top select {
  --webkit-appearance: none;
  display: block;
  font-size: 1rem;
  border-radius: 4px;
  padding: 0.75rem;
  color: black;
  width: 100%;
}
form label.sbs {
  display: block;
  padding: 0.75rem;
  color: black;
}

form input.submitBtn {
  border: none;
  background-color: var(--primary);
  color: var(--secondary);
  border-radius: 1rem;
  margin: 0 02rem 2%;
  width: 97%;
  max-width: 20rem;
  padding: 0.75rem 1.5rem;
  margin-top: 5px;
}
label.sbs {
  padding: 5px;
}
form label.top input:required {
  border-left: red solid 6px;
}

form label.top input:required:valid {
  border-left: green solid 6px;
}
.reservationtemples {
  padding: 10px;
}
.reservation {
  padding: 15px;
}
section.contactcard {
  padding: 2rem;
  background-color: var(--secondary);
}
.heading {
  width: 100%;
  text-transform: uppercase;
  font-size: 2.5rem;
  letter-spacing: 3px;
  margin-right: -3px;
  margin-bottom: 5rem;
  text-align: center;
  position: relative;
}

.heading::after {
  content: "";
  width: 10rem;
  height: 0.8rem;
  background-color: var(--primary);
  position: absolute;
  bottom: -2rem;
  left: 45%;
  border-radius: 2rem;
}
.card-wrapper {
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: column;
}

.card {
  width: 32rem;
  border-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2rem 0;
  box-shadow: 0.5rem 0.5rem 0.3rem rgba(0, 0, 0, 0.2);
}
.card .card-img {
  width: 100%;
  height: 26rem;
  object-fit: cover;
}
.profile-img {
  width: 15rem;
  height: 15rem;
  object-fit: cover;
  border-radius: 50%;
  margin-top: -5rem;
  border: 1px solid var(--third);
}
.card h2 {
  font-size: 2.5rem;
  margin: 1.5rem 0;
}
.job-title {
  font-size: 1.5rem;
  font-weight: 300;
}
.about {
  font-size: 1.5rem;
  margin: 1.5rem 0;
  font-style: italic;
  text-align: center;
}
.contactBtn {
  background-color: var(--secondary);
  color: var(--primary);
  border-radius: 1rem;
  margin: 0 02rem 2%;
  width: 97%;
  max-width: 20rem;
  padding: 0.75rem 1.5rem;
  margin-top: 5px;
  margin-right: 5px;
}
