@media only screen and (min-width: 37em) {
  /*phone and baseline*/
  .homepage {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  /*navbar hamburger btn*/

  nav button {
    display: none;
  }

  nav ul#primaryNav {
    display: flex;
    border-left: 1px solid rgba(0, 0, 0, 0.3);
  }
  nav ul li a {
    border: none;
    border-right: 1px solid rgba(0, 0, 0, 0.3);
  }
  /*main*/
  .quickmenu {
    display: block;
  }
  .media {
    display: block;
  }
  .hotelservices,
  .specializedservices {
    text-align: center;
  }
  .reservationbtn {
    position: absolute;
    bottom: 50px;
    left: 50px;
  }
  #temples {
    grid-template-columns: 1fr 1fr;
  }
/*Reservation page*/
.reservation{
  grid-template-columns: repeat(2, 1fr);
}  
  /*footer*/
  footer,
  header {
    grid-template-columns: repeat(3, 1fr);
  }
  .media2 {
    display: none;
  }
  

  form input.submitBtn {
    border: none;
    background-color: #ebe7db;
    color: var(--primary);
    border-radius: 1rem;
    padding: 0.75rem 1.5rem;
    margin-top: 5px;
    width: 100%;
  }

  .email {
    margin-right: 10px;
    display: block;
  }
}
